body > *{
  font-family: 'Inconsolata', monospace;
  opacity: 0.3;
  transition: all 0.3s;
}

body *:hover {
  opacity: 1;
}

#left-content {
  position: absolute;
  top: 0;
  max-width: 30%;
  width: 500px;
  border: 1px solid;
  padding: 20px;
  overflow: scroll;
  height: 80%;
  background-color: white;
  z-index: 2;
  line-height: 2;
}

svg {
  float: right;
  /* position: absolute; */
  top: 0;
}
