body > *{
  font-family: 'Inconsolata', monospace;
  /* opacity: 0.3; */
  /* transition: all 0.3s; */
}

body *:hover {
  /* opacity: 1; */
  /* z-index: 99; */
}

#left-content {
  position: absolute;
  top: 0;
  max-width: 30%;
  width: 500px;
  border: 1px solid;
  padding: 20px;
  overflow: scroll;
  height: 80%;
  background-color: white;
  z-index: 2;
  line-height: 2;
}

svg {
  /* float: right; */
  position: absolute;
  top: 0;
  right: 0;
}

img {
  display: inline-block;
  position: sticky;
  float: right;
  top: 0;
  /* height: 100%; */
  z-index: -1;
  width: 50%;
  opacity: 0.8;
}


#infobox {
  position: absolute;
  overflow: scroll;
  height: 50%;
  background-color: white;
  z-index: 2;
  line-height: 2;
  border: 1px solid;
  padding: 20px;
  width: 50%;
  background-color: hsla(0, 0%, 100%, .75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#infobox > p, h3 {
  width: 50%;
}
